.blog-card-main {
  margin-top: 40px;
}

.blog-card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  border-radius: 10px 10px 0px 0px;
}

.blog-card-img:hover {
  transform: scale(1.01);
}

.blog-card-title-container {
  padding: 30px;
}
.blog-card-title-container > h3 {
  color: #fff;
  font-size: 26px;
  font-family: "cero-pro-bold";
}

.blog-card-title-container > p {
  color: #c1c1c1;
  font-size: 24px;
  font-family: "cero-pro-reg";
  margin-top: 40px;
}

.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.blog-card {
  width: 401px;
  height: auto;
  background-color: #1f1f1f;
  border-radius: 10px;
  cursor: pointer;
}

.blog-button-container > button {
  width: 147px;
  height: 50px;
  border-radius: 5px;
  background-color: #e59f15;
  color: #000;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.blog-button-container > button:hover {
  background-color: #d18e0a;
  color: #fff;
}

.blog-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 925px) {
  .blog-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 465px) {
  .blog-card {
    width: 381px;
  }
  .blog-card-img {
    width: 100%;
    height: 431px;
    object-fit: cover;
    transition: transform 0.3s ease-out;
  }
}
