.form-container {
  width: 600px;
  height: 550px;
  background: linear-gradient(
    180deg,
    rgb(0, 183, 255) 25%,
    rgb(255, 255, 255) 20%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.form-main {
  display: flex;
  justify-content: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.form-container p {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 30px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-container label {
  color: rgb(40, 42, 44);
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
}

.form-container .input {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: rgb(224, 231, 236);
}

.form-container .input:focus {
  outline: none;
}

.form-container .input-special {
  padding: 10px;
  height: 105px;
  border: none;
  background-color: rgb(224, 231, 236);
  font-size: 14px;
}

.form-container .input-special:focus {
  outline: none;
}

.form-container button {
  border: none;
  height: 35px;
  margin-top: 30px;
  background-color: rgb(0, 183, 255);
  color: white;
  font-size: 16px;
}

.special-button-form {
  cursor: pointer;
}

// @media screen and (max-width: ) {

//   }
