.main-content {
  margin: 0px 75px 0px 75px;
}

.bio-main {
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  border-radius: 5px;
  margin-top: 40px;
}

.bio-container {
  display: flex;
  padding: 25px;
}

.bio-wrapper-left > img {
  width: 484px;
  height: 321px;
  object-fit: cover;
}

.bio-wrapper-right {
  margin-left: 20px;
}

.bio-h2 {
  color: #fff;
  font-size: 65px;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bio-h3 {
  color: #fff;
  font-size: 23px;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 35px;
}

.bio-p-1 {
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 25px;
}
.bio-p-2 {
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 25px;
}

.bio-button {
  color: #fff;
  border: 1px solid #ffdd00;
  background-color: transparent;
  width: 152px;
  height: 41px;
  border-radius: 5px;
  font-weight: lighter;
  margin-top: 50px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.bio-button:hover {
  color: #000;
  background-color: #ffdd00;
}

.proj-main {
  background: linear-gradient(to right, #1a1a1a, #000000);
  margin-top: 40px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 5px;
}

.proj-container {
  margin-top: 20px;
}
.proj-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  // height: auto;
}

.proj-title > h3 {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 25px;
}

.proj-img > img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.proj-img {
  max-width: 400px;
}

.proj-main > h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.proj-title > p {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 35px;
}

.proj-title > button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  width: 94px;
  height: 28px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 50px;
}

.proj-title > button:hover {
  border: 1px solid #ffdd00;
}

.proj-card {
  display: flex;
  flex-direction: column;
  width: 356px;
  height: auto;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.proj-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.proj-button-container {
  display: flex;
  justify-content: flex-end;
}

.proj-button {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #1a1a1a, #000000);
  width: 152px;
  height: 41px;
  border-radius: 5px;
  font-weight: lighter;
  margin-top: 30px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.proj-button:hover {
  background: #ffdd00;
  color: #000;
}

.news-main {
  background: linear-gradient(to right, #1a1a1a, #000000);
  margin-top: 40px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 5px;
}

.news-container {
  margin-top: 20px;
}
.news-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.news-main > h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.news-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.news-button {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #1a1a1a, #000000);
  width: 152px;
  height: 41px;
  border-radius: 5px;
  font-weight: lighter;
  margin-top: 30px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.news-button:hover {
  background: #ffdd00;
  color: #000;
}

.news-card {
  width: 355px;
  height: 370px;
  border-radius: 5px;
  cursor: pointer;
}

.news-img {
  width: 355px;
  height: 370px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}
.news-date > span {
  color: #c2c2c2;
  font-size: 12px;
}

// .news-date {
//   margin-top: 15px;
//   margin-left: 15px;
// }

.news-desc-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 36vh;
  backdrop-filter: blur(20px);
  background-color: #1a1a1a;
}

.news-desc {
  color: #fff;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.loader-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.video-container {
  width: 100%;
  height: 450px;
  margin-top: 20px;
}

.not-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Устанавливаем высоту контейнера для выравнивания по центру */
}

.not {
  text-align: center; /* Центрируем текст внутри блока */
}

.not-h2 {
  color: white; /* Белый цвет текста */
  font-size: 1.5rem; /* Огромный размер шрифта */
  font-weight: bold; /* Жирный текст */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для эффекта объемности */
  letter-spacing: 2px; /* Расстояние между буквами */
  padding: 20px; /* Внутренний отступ */
  border-radius: 10px; /* Скругление углов */
}

@media screen and (max-width: 700px) {
  .video-container {
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  .video-container {
    height: 200px;
  }
}

@media screen and (max-width: 1115px) {
  .main-content {
    margin: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 947px) {
  .bio-container {
    display: block;
  }
  .bio-wrapper-left > img {
    width: 100%;
    height: 100%;
  }
  .bio-h2 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 470px) {
  .bio-h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 430px) {
  .news-img {
    width: 100%;
    height: 370px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
  }
}
