.proj-page-container {
  margin-top: 20px;
}
.proj-page-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.proj-page-img > img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.proj-page-main > h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.proj-page-title > p {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 35px;
}

.proj-page-title > button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  width: 94px;
  height: 28px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 50px;
}

.proj-page-title > button:hover {
  border: 1px solid #ffdd00;
}

.proj-page-card {
  display: flex;
  flex-direction: column;
  width: 406px;
  height: auto;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.proj-page-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.proj-page-button-container {
  display: flex;
  justify-content: flex-end;
}

.proj-page-button {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #1a1a1a, #000000);
  width: 152px;
  height: 41px;
  border-radius: 5px;
  font-weight: lighter;
  margin-top: 30px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.proj-page-button:hover {
  background: #ffdd00;
  color: #000;
}

.proj-page-card-special {
  display: flex;
  flex-direction: column;
  width: 356px;
  height: auto;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 470px) {
  .proj-page-card {
    width: 396px;
  }
}

@media screen and (max-width: 390px) {
  .proj-page-card {
    width: 326px;
  }
}
